[Unit]
Description=TOSS Glue HTTP API

[Service]
WorkingDirectory=/%h/mm-glue/
ExecStart=/usr/bin/python3 serve.py
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
